In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("nomes_idades.csv")
df

#Aqui ele junta as colunas pois nao reconhece o delimitador

  nome;idade
0    joão;21
1   andré;22
2   pedro;23

In [5]:
df = pd.read_csv("nomes_idades.csv", delimiter=";")
df

    nome  idade
0   joão     21
1  andré     22
2  pedro     23

In [7]:
df.head(2)

    nome  idade
0   joão     21
1  andré     22

In [8]:
df_notas = pd.read_excel("notas_estudo.xlsx")
df_notas

    Aluno  Nota Final (0-100)  Horas de Estudo
0       1                  78               10
1       2                  85               12
2       3                  67                5
3       4                  90               14
4       5                  72                8
5       6                  88               13
6       7                  81               11
7       8                  95               16
8       9                  62                4
9      10                  76                9
10     11                  83               12
11     12                  79               10
12     13                  91               15
13     14                  74                7
14     15                  80               11
15     16                  87               13
16     17                  69                6
17     18                  92               14
18     19                  66                5
19     20                  82               12
20     21                  77                9
21     22                  94               15
22     23                  73                8
23     24                  89               14
24     25                  70                6
25     26                  84               12
26     27                  75                7
27     28                  86               13
28     29                  68                6
29     30                  93               15

In [12]:
df_nomesidades = pd.read_csv("nomes_idades.csv", delimiter=";")
print(df_nomesidades)
df_nomesidades.to_excel("nomes_idades.xlsx", index=False)

    nome  idade
0   joão     21
1  andré     22
2  pedro     23

In [14]:
df_notasestudos = pd.read_excel("notas_estudo.xlsx")
print(df_notasestudos)
df_notasestudos.to_csv("notas_estudo.csv", index=False)

    Aluno  Nota Final (0-100)  Horas de Estudo
0       1                  78               10
1       2                  85               12
2       3                  67                5
3       4                  90               14
4       5                  72                8
5       6                  88               13
6       7                  81               11
7       8                  95               16
8       9                  62                4
9      10                  76                9
10     11                  83               12
11     12                  79               10
12     13                  91               15
13     14                  74                7
14     15                  80               11
15     16                  87               13
16     17                  69                6
17     18                  92               14
18     19                  66                5
19     20                  82               12
20     21                  77                9
21     22                  94               15
22     23                  73                8
23     24                  89               14
24     25                  70                6
25     26                  84               12
26     27                  75                7
27     28                  86               13
28     29                  68                6
29     30                  93               15